* {
  margin: 0;
  padding: 0;
}
body {
  font-family: Calibri;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: linear-gradient(rgb(42, 104, 151) 10%,rgb(4, 114, 161)) ;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100vw;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.mainbody {
  background-color: rgb(93, 150, 150);
}


